<form id="detail" action="/Customer/SignUp" method="post">
    <div class="column">
        <div class="col-lg-8">
            <fieldset>
                <label for="email">Enter your email</label>
                <input type="text" name="email" id="email" autocomplete="on" placeholder="Please enter your email" required>
            </fieldset>
        </div>
        <div class="col-lg-8">
            <fieldset>
                <label for="password">Enter your password</label>
                <input type="password" name="password" id="password" autocomplete="on" placeholder="Please enter your password" required>
            </fieldset>
        </div>
        <div class="col-lg-8">
            <fieldset>
                <label for="name">Enter your name</label>
                <input type="text" name="name" id="name" autocomplete="on" placeholder="Please enter your password" required>
            </fieldset>
        </div>
        <div class="col-lg-8">
            <fieldset>
                <label for="phone">Enter your phone</label>
                <input type="text" name="phone" id="phone" autocomplete="on" placeholder="Please enter your password" required>
            </fieldset>
        </div>
        <div class="col-lg-8">
            <fieldset>
                <label for="address">Enter your address</label>
                <input type="text" name="address" id="address" autocomplete="on" placeholder="Please enter your password" required>
            </fieldset>
        </div>
        <div class="col-lg-8">
            <fieldset>
                <label for="gender">Gender</label>
                <select class="custom-select" name="gender" id="gender">
                    <option value="Male" selected>Male</option>
                    <option value="Female">Female</option>
                    <option value="Others">Others</option>
                </select>
            </fieldset>
        </div>
        <div class="col-lg-8" style="width: 100%; position: center; margin: 5px; padding: 5px;">
            <div class="col-lg-8">
                <button type="submit" class="btn btn-success" id="submit">Sign up</button>
            </div>
        </div>
    </div>
</form>